.publish-preview-datetime-input {
    margin-right: 10px;
}

.modal-button-container.publish-preview-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 20px;
    padding: 0;
}

.schedule-setting {
    display: none; /* Hidden by default */
}

.schedule-setting.visible {
    display: flex;
} 